.banner-food {
  height: 100vh;
  left: 0;
  right: 0;
  z-index: 0;
  background-image: url('https://shopeefood.vn/app/assets/img/main-banner.jpg?45bff8c9ec408a5ba51f9fdef662324e');
  background-size: cover;
  overflow: hidden;

  .container {
    // height: 100%;
  }

  .food-search {
    color: #fff;
    width: 470px;
    z-index: 2;
    // transform: translateY(-50%);
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .local {
      font-size: 15px;
      text-transform: capitalize;
    }

    .btn-category {
        border-color: #fff;
        color: #fff;
    }
    .btn-category:hover {
        color: #000;
        background-color: #fff;
    }
  }
}
